@model HortasIndoor.Core.ViewModels.EditUserViewModel;

@{
    ViewData["Title"] = "View";
}

<h1>Edição de Perfil</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a href="/Profile/Index" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
