@model HortasIndoor.Core.Models.ApplicationUser;
@{
}

<div class="row">
    <div class="col-3">
        <p class="text-secondary fs-6 mb-0">Username</p>
        <p class="fs-5">@Model.UserName</p>
        <p class="text-secondary fs-6 mb-0">E-Mail</p>
        <p class="fs-5">@Model.Email</p>
        @if (!String.IsNullOrEmpty(Model.Localizacao))
        {
            <p class="text-secondary fs-6 mb-0">Localização</p>
            <p class="fs-5">@Model.Localizacao</p>
        }
        <hr />
        <div>
            <div class="d-flex flex-column">
                <a href="/Gallery/Index">Galeria</a>
                <a href="/Profile/Edit">Editar perfil</a>
                <a href="/Post/New">Novo post</a>
            </div>
        </div>
    </div>
    <div class="col-9">
        <h1>Seu feed</h1>
    </div>
</div>
